@import "guide/includes";

.ReadEmails {
  min-height: 100px;

  > header {
    text-transform: uppercase;
    padding: 15px 20px;
    color: $primary-color-lighter;
  }

  > ul {
    background-color: $grey-dark;

    > li {
      border-top: 1px solid $grey;
    }
  }

  > .Loader {
    position: initial;
    display: inline-block;
    margin: 25px auto;
  }

  .UnreadEmailCard {
    width: 300px;
  }

  .transitionSpacingHack {
    width: 20px;
    height: 20px;
  }

  .NoItems {
    margin: 25px auto 0px auto;
  }
}
