@import "guide/includes";

.ReadEmailCard {
  position: relative;
  display: flex;
  background-color: $white;
  padding: 15px 10px;
  align-items: center;

  .from {
    color: $text-color-light;
  }

  .subject {
    font-weight: $bolder;
  }

  button.action {
    padding: 8px 10px;
    width: 60px;
  }

  .date {
    margin-left: 10px;
    color: $primary-color-light;
    white-space: nowrap;
  }

  > main {
    margin-left: 20px;
    flex-grow: 1;

    .body {
      margin-top: 10px;
      $font-size: 14px;
      $line-height: 1.4;
      $lines-to-show: 2;

      display: block; /* Fallback for non-webkit */
      display: -webkit-box;
      height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .subject {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
  }
}
