@import "guide/includes";

.Error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;

  h3 {
    text-align: center;
  }

  .FunLoader {
    margin-top: 35px;
  }
}
