@import "guide/includes";

.UnreadEmails {
  min-height: 100px;
  overflow: scroll;

  > ul {
    display: flex;

    > li {
      display: flex;
      align-items: start;
    }
  }

  > .Loader {
    position: initial;
    display: inline-block;
    margin: 25px auto;
  }

  .UnreadEmailCard {
    box-shadow: $shadow;
    width: 300px;
  }

  .transitionSpacingHack {
    width: 20px;
    height: 20px;
  }

  .NoItems {
    box-shadow: $shadow;
    margin: 25px auto 0px auto;
  }
}
