@import "guide/includes";

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  > header {
    background-color: $primary-color;
    color: $white;
    text-align: center;
    padding: 20px 10px; 
  }

  > main {
    padding: 30px;
    position: relative;
    background-size: 100%;;
    flex-grow: 1;
  }


  @media only screen and (max-width: 500px) {
    > main {
      padding: 15px;
    }
  }
}
