@import "guide/includes";

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  > header {
    background-color: $primary-color;
    color: $white;
    text-align: center;
    padding: 20px 10px;
  }

  > main {
    position: relative;
    background-size: 100%;;
    flex-grow: 1;
  }
}
