.HeightTransition {
}

.HeightTransition-enter {
  // opacity: 0.01;
}

.HeightTransition-enter.HeightTransition-enter-active {
  // opacity: 1;
  // transition: opacity 500ms ease-in;
}

.HeightTransition-exit {
  opacity: 1;
  max-height: 2000px;
}

.HeightTransition-exit.HeightTransition-exit-active {
  opacity: 0.01;
  max-height: 0px;
  transition: opacity 300ms ease-in, max-height 300ms cubic-bezier(0, 1, 0, 1);
}
